<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="https://www.freepnglogos.com/uploads/world-map-png/world-map-world-earth-globe-vector-graphic-pixabay-25.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>
	<title>add page</title>
</head>

<body>
	<div class="container"><br>
		<a th:href="@{/adminLogout}" class="float-end btn btn-danger btn-sm">Logout</a>
          <h1 style="color:red">Product Update</h1>
		<form class="col-5" th:action="@{/saveSales}" th:object="${sales}" method="post">

			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">Product Name</label>
				<input type="text" th:field="*{name}" class="form-control">
			</div>
			<div class="mb-3">
				<label for="exampleFormControlInput1" class="form-label">Product price</label>
				<input type="text"  th:field="*{price}" class="form-control">
			</div>
			
			<button type="submit" class="btn btn-success">Save Product Details</button>
		</form>

        <br>
		<a th:href="@{/owner_home}">Go to Homepage</a>

	</div>

</body>

</html>