<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Customer Login page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="https://www.freepnglogos.com/uploads/world-map-png/world-map-world-earth-globe-vector-graphic-pixabay-25.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<style type="text/css">
  
body{
  background-image: url(https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
}



span{
	color:red;
}



</style>



</head>
<body>

<!-- if you want to create login page and register page together in one page ...you have to only chnage his name...that's it...                 -->
<div class="container" style="margin-top: 5%;">
  <div class="row">
    <div class="col-sm-4"> </div>
<div class="col-md-4">
  

<br/>
	
<div class="col-sm-12">

<br/>


  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
	<h1 class="text-center text-success"> Customer Login</h1>
      
<form action="/customer_check">

  <div class="form-group">
    <label for="UserName">User Name</label>
    <input type="text" class="form-control" name="userName" required>
  </div>

  <div class="form-group">
    <label for="pwd">Password</label>
    <input type="password" class="form-control" name="password" required>
  </div>
`	
  <button type="submit" class="btn btn-success">Submit</button>
</form><br><br>
<span th:text="${error}"></span>
<br/>






</div>

</div>
</div>
</body>
</html>
