<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="https://www.freepnglogos.com/uploads/world-map-png/world-map-world-earth-globe-vector-graphic-pixabay-25.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>
<title>Product Page</title>
<style>
table {
    width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 40px;
}

tbody {
    height: 500px;
    overflow-y: auto;
}
tbody td{
	height:50px;
}
tbody td, thead th {
    width: 33.3%;
    float:left
}
</style>
</head>

<body>
	<div class="container"><br>
	<h1 class="text-center p-3 border bg-light">Product Page</h1>
	<a th:href="@{/mycart}" class="float-right btn btn-danger btn-sm">My Cart</a>
	<a th:href="@{/customerLogout}" class="float-end btn btn-danger btn-sm">Logout</a>
	<br><br>
		<table class="table">
	  	<thead>
	    	<tr>
	      		<th scope="col">Product Name</th>
	      		<th scope="col">Product Price (Rupees)</th>
	        	<th scope="col">Add Cart</th>	
	    	</tr>
	  	</thead>
	  	<tbody>
	    	<tr th:each="sales: ${saleslist}">
	      		<td hidden="hidden" th:text="${sales.id}" scope="row"></td>
	      		<td th:text="${sales.name}"></td>
	      		<td th:text="${sales.price}"></td>
	      		<td>
	        		 <a th:href="@{/add_cart/{id}(id=${sales.id})}" class="btn btn-success btn-sm">Add to Cart</a>
	      		</td>
	   		</tr>
	    
	  	</tbody>
	</table>
	</div>

</body>

</html>