<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="https://www.freepnglogos.com/uploads/world-map-png/world-map-world-earth-globe-vector-graphic-pixabay-25.png">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
		crossorigin="anonymous"></script>
<title>Admin home page</title>

</head>

<body>
	<div class="container"><br>
	<h1 class="text-center text-primary">Product Page</h1>
	<a th:href="@{/saveSalesPage}" class="btn btn-primary btn-sm">Add Product</a>
	<a th:href="@{/adminLogout}" class="float-end btn btn-danger btn-sm">Logout</a>
	<table class="table">
  <thead>
    <tr>
      <th scope="col">Product Id</th>
      <th scope="col">Product Name</th>
      <th scope="col">Product Price (Rupees)</th>
        <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="sales: ${saleslist}">
      <th th:text="${sales.id}" scope="row"></th>
      <td th:text="${sales.name}"></td>
      <td th:text="${sales.price}"></td>
      <td>
         <a th:href="@{/updateSalesPage/{id}(id=${sales.id})}" class="btn btn-primary">Update</a>
         <a th:href="@{/deleteSales/{id}(id=${sales.id})}" class="btn btn-danger">Delete</a>
      </td>
    </tr>
    
  </tbody>
</table>
	</div>

</body>

</html>